.peek-img {
  text-align: center;
}
.title {
  text-align: center;
}
.heartfill:hover {
  cursor: pointer;
}

.heartfill {
  margin-top: 6px;
  position: relative;
  background-color: red;
  height: 10px;
  transform: rotate(-45deg);
  width: 10px;
}

.heartfill:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  top: -7px;
  left: 0px;
}
.heartfill:before {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 0px;
  right: -7px;
}
